@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.page-wrapper{
    margin:0;
}

.content-wrapper{
    max-width: 960px;
    margin:0 auto;
}

.add-button{
    width: 220px;
    height: 25px;
    background-color:greenyellow;
    border-radius: 0 !important;
    text-align: center;
    padding-bottom:30px;
    font-weight: bold;
    margin-bottom:0px;
    font-size: 0.8em;
  }

  .add-button a{
    font-family: 'Anton', sans-serif;
  }

  .order-message{
    padding:40px 0px;
    font-family: 'Roboto', sans-serif;
  }

  .item-button{
    padding-top:40px;
  }