<div class="user-page-wrapper">
    <div class="content-wrapper">
        <div class="flex-container" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start"  *ngIf="user">
            <div class="flex-item">
                <h1 *ngIf="user" > Hello, <span *ngIf="user.isAdmin">ADMIN</span> {{user.lastname}} ! </h1>
            </div>
            <div class="flex-item">
                <a (click) = onSignOut()> Ieșire din cont</a>
            </div>
        </div>
        <div class="user-info-container" *ngIf="user && !user.isAdmin">
            <mat-tab-group  animationDuration="0ms">
                <mat-tab label="Profilul meu" >
                    <div class="my-profile-data" >
                        <p class="profile-label" *ngIf="user">Nume: <span class="user-info">{{user.firstname | uppercase}}</span></p>
                        <p class="profile-label" *ngIf="user">Prenume: <span class="user-info">{{user.lastname |titlecase}}</span></p>
                        <p class="profile-label" *ngIf="user">Email: <span class="user-info">{{user.email |lowercase}}</span></p>
                        <div class="delivery-address">
                            <p class="profile-label" *ngIf="user && user.deliveryInfo">Adresă de livrare: <span class="user-info">{{user.deliveryInfo.address | uppercase}}, 
                                                                                                    {{user.deliveryInfo.location | uppercase}},
                                                                                                    {{user.deliveryInfo.state |uppercase}}
                                                                           </span>
                            </p>
                            <p class="profile-label" *ngIf="user && user.deliveryInfo">Telefon: <span class="user-info">{{user.deliveryInfo.phoneNumber }}</span></p>                                                                                   
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Comenzile mele" >
                    <ng-container *ngIf="userOrders==null">
                        <p class="no-order-notification">Nu aveți nici o comandă. </p>
                    </ng-container>
                    <ng-container *ngFor="let order of userOrders">
                        <div class="details-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start none"  >
                            <div class="top-info" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between none" >
                                <div class="left-content" fxLayout="column" fxLayoutGap="px" fxLayoutAlign="start none">
                                    <div class="profile-label text-padding">Status comandă: <span class="user-info">{{order.status}}</span></div>
                                    <div class="profile-label text-padding" >Id comandă: <span class="user-info">#{{order.key}}</span></div>
                                    <div class="simple-button">
                                        <a *ngIf="viewOrdersFlag " (click)="toggleLink(order.key)">Vezi detalii comandă</a>
                                    </div>
                                    <div class="simple-button">
                                        <a *ngIf="!viewOrdersFlag && order.key==orderKey" (click)="toggleLink(order.key)">Ascunde detalii comandă </a>
                                    </div>
                                </div>
                                <div class="right-content" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start none">
                                    <div class="profile-label text-padding">{{order.dateCreated}}</div>
                                    <div class="profile-label text-padding">{{order.total}} RON</div>
                                </div>
                            </div>                           
                            <ng-container *ngFor="let product of order.items" >
                                <div class="product-table" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start center" *ngIf="!viewOrdersFlag && order.key==orderKey ">
                                    <div class="product-element"  fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start start">
                                        <div class="product-image" style="width:15%" >
                                            <mat-card class="cardListItem" style="padding-bottom:0;">
                                                <img class="image" mat-card-image [src]="product.urlImage1">
                                            </mat-card>
                                        </div>
                                        <div class="product-details" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-between none" style="width:45%">
                                            <div class="flex">
                                                <div class="product-name user-info">
                                                    {{product.name}}
                                                </div>
                                                <div class="product-price user-info">
                                                    {{product.price}} RON
                                                </div>
                                                <div class="product-quantity user-info">
                                                    {{product.itemsnumber}} buc.
                                                </div>
                                            </div>
                                            <div class="rate-button" >
                                                <a class="simple-button evaluate-button">Evaluează produsul</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>                       
                            </ng-container>                           
                        </div>           
                    </ng-container>
                </mat-tab>
                <mat-tab label="Modificare parolă" >
                    <div class="password-content" >
                    </div>
                </mat-tab>
                <mat-tab label="Contact" >                   
                        <div class="contact-content" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between start"  >
                        <div class="container-left">
                            <h4 class="text-h4">CU CE TE PUTEM AJUTA?</h4>
                            <p class="user-info">Îți stăm la dispoziție oricând.<br><br>

                                PROGRAM DE LUCRU<br>
                                Luni - Vineri: 08:00 - 17:00<br>
                                Sâmbătă - Duminică: Închis<br><br>
                                ADRESA<br>
                                Bulevardul Constantin Diaconovici Loga, nr.1, Timișoara<br><br>
                                TELEFON<br>
                                0800 89 7777 (apel gratuit)<br><br>
                            </p>
                            <a class="simple-button">TRANSPORT ȘI LIVRARE</a><br>
                            <a class="simple-button">PLATA</a><br>
                            <a class="simple-button">RETURURI</a><br>
                        </div>
                        <div class="contanier-right">
                            <div class="user-message">
                                <form>
                                <mat-form-field class="comment-input" [style.width.px]=400>
                                    <mat-label>Lasă-ne un mesaj</mat-label>
                                    <textarea matInput ></textarea>
                                </mat-form-field>
                                </form>
                                <a class="simple-button evaluate-button">Trimite mesaj</a><br>

                            </div>
                        </div>
                  </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="admin-info-container" *ngIf="user && user.isAdmin">
            <mat-tab-group  animationDuration="0ms">
                <mat-tab label="Comenzi" >
                    <div class="admin-content" >
                        id comaanda, user, adresa de livrare, produse, nr. bucati, pret
                        tabel comenzi noi - buton modifica status
                        buton vezi comenzi trimise
                        vezi comenzi livrate
                    </div>
                </mat-tab>
                <mat-tab label="Mesaje" >
                    <div class="admin-content" >
                        mesaj, user 
                        raspunde pe mail
                        vezi mesaje noi
                    </div>
                </mat-tab>
                <mat-tab label="Gestionare produse" >
                    <div class="admin-content" >
                        Sterge produse
                        Adauga
                        Modifica stoc
                    </div>
                </mat-tab>
                <mat-tab label="Rapoarte" >
                    <div class="admin-content" >
                        cele mai vandute produse disk space.
                        grafic vanzari - zile
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>