<div class="swiper-container">
    <swiper [config]="config">

        <div class="swiper-wrapper" >     
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE1.jpg" style="width: 100%;" />
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE2.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE3.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE4.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE5.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE6.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE7.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/WELOVE8.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/EASYCARE.jpg" style="width: 100%;"/>
          </div>
          <div class="swiper-slide" >
            <img src="../../../assets/Welcome/EASYCARE2.jpg" style="width: 100%;"/>
          </div>
      
        </div>
      
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      
      </swiper>
</div>
