<div class="orders-page-wrapper">
    <div class="content-wrapper">
        <mat-drawer-container class="mat-container" >
            <mat-drawer-content class="main-content" style="width:70%; padding-left:20px; padding-top:20px;">
                <div class="client-info">                    
                    <div class="delivery-information">
                        <div class="container-ifnoInfo" *ngIf="!orderDeliveryInfoExistsFlag" >
                            <div class="top-buttons" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between center">
                                <h1>Adresa de livrare</h1>
                                <div>
                                    <a style="padding:20px" (click)="onAuthentification()">Autentificare + </a>
                                </div>
                            </div>
                            <form [formGroup]="addressForm" (ngSubmit)="onSubmitAddress(addressForm)">
                                <div class="fields-container" fxLayout="row"  fxLayoutGap="30px" fxLayoutAlign="start start">
                                    <mat-form-field class="lastname-input" appearance="outline" color="accent" [style.width.px]=300>
                                        <mat-label>Prenume</mat-label>
                                        <input matInput type="text" required formControlName="firstname" maxlength="20">
                                        <mat-error *ngIf=" addressForm.get('firstname').invalid && ( addressForm.get('firstname').dirty ||  addressForm.get('firstname').touched)">
                                            <span *ngIf=" addressForm.get('firstname').errors.required">Acest camp este obligatoriu!</span>
                                            <span *ngIf=" addressForm.get('firstname').errors.maxlength">Nr. maxim de caractere admis este 20!</span>
                                        </mat-error>
                                    </mat-form-field>
                    
                                    <mat-form-field class="firstname-input" appearance="outline" color="accent" [style.width.px]=300>
                                        <mat-label>Nume</mat-label>
                                        <input matInput type="text" required formControlName="lastname" maxlength="20" >
                                        <mat-error *ngIf=" addressForm.get('lastname').invalid && ( addressForm.get('lastname').dirty ||  addressForm.get('lastname').touched)">
                                            <span *ngIf=" addressForm.get('lastname').errors.required">Acest camp este obligatoriu!</span>
                                            <span *ngIf=" addressForm.get('lastname').errors.maxlength">Nr. maxim de caractere admis este 20!</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                
                                <mat-form-field class="address-input" appearance="outline" color="accent" [style.width.px]=630>
                                    <mat-label>Adresă</mat-label>
                                    <input matInput type="text" required formControlName="address" maxlength="50" >
                                    <mat-error *ngIf=" addressForm.get('address').invalid && (  addressForm.get('address').dirty ||  addressForm.get('address').touched)">
                                        <span *ngIf=" addressForm.get('address').errors.required">Acest camp este obligatoriu!</span>
                                        <span *ngIf=" addressForm.get('address').errors.maxlength">Nr. maxim de caractere admis este 30!</span>
                                    </mat-error>
                                </mat-form-field>
                    
                                <mat-form-field class="city-input" appearance="outline" color="accent" [style.width.px]=630>
                                    <mat-label>Localitate</mat-label>
                                    <input matInput type="text" required formControlName="location" maxlength="20"  >
                                    <mat-error *ngIf=" addressForm.get('location').invalid && (  addressForm.get('location').dirty ||  addressForm.get('location').touched)">
                                        <span *ngIf=" addressForm.get('location').errors.required">Acest camp este obligatoriu!</span>
                                        <span *ngIf=" addressForm.get('location').errors.maxlength">Nr. maxim de caractere admis este 20!</span>
                                    </mat-error>
                                </mat-form-field>
                    
                            
                                <div class="fields-container" fxLayout="row"  fxLayoutGap="30px" fxLayoutAlign="start start">
                    
                                    <mat-form-field class="state-input" appearance="outline" color="accent" [style.width.px]=300>
                                        <mat-label>Județ</mat-label>
                                        <input matInput type="text" required formControlName="state" maxlength="20" >
                                        <mat-error *ngIf=" addressForm.get('state').invalid && (  addressForm.get('state').dirty ||  addressForm.get('state').touched)">
                                            <span *ngIf=" addressForm.get('state').errors.required">Acest camp este obligatoriu!</span>
                                            <span *ngIf=" addressForm.get('state').errors.maxlength">Nr. maxim de caractere admis este 20!</span>
                                        </mat-error>
                                    </mat-form-field>
                                
                                    <mat-form-field class="postal-input" appearance="outline" color="accent" [style.width.px]=300>
                                        <mat-label>Cod poștal</mat-label>
                                        <mat-error *ngIf=" addressForm.get('postalCode').invalid && (  addressForm.get('postalCode').dirty ||  addressForm.get('postalCode').touched)">
                                            <span *ngIf=" addressForm.get('postalCode').errors.required">Acest camp este obligatoriu!</span>
                                            <span *ngIf=" addressForm.get('postalCode').errors.maxlength">Nr. maxim de caractere admis este 6!</span>
                                            <span *ngIf=" addressForm.get('postalCode').errors.pattern">Ati introdus un format gresit!</span>
                                        </mat-error>
                                        <input matInput type="text" required formControlName="postalCode" maxlength="6" >
                                    </mat-form-field>
                                </div>
                    
                                <mat-form-field class="phone-input" appearance="outline" color="accent" [style.width.px]=630>
                                    <mat-label>Telefon</mat-label>
                                    <mat-error *ngIf="addressForm.get('phoneNumber').invalid && ( addressForm.get('phoneNumber').dirty ||  addressForm.get('phoneNumber').touched)">
                                        <span *ngIf="addressForm.get('phoneNumber').errors.required">Acest camp este obligatoriu!</span>
                                        <span *ngIf="addressForm.get('phoneNumber').errors.maxlength">Nr. maxim de caractere admis este 10!</span>
                                        <span *ngIf="addressForm.get('phoneNumber').errors.pattern">Ati introdus un format gresit!</span>
                                    </mat-error>
                                    <input matInput type="text" required formControlName="phoneNumber" maxlength="10" >
                                </mat-form-field>
                                <div class="checkbox-container">
                                    <mat-checkbox [checked]="saveUserAddress" (change)="toggle($event)" > Salvează informațiile pentru data viitoare </mat-checkbox>
                                </div>
                                <div class="button-container">
                                    <button type="submit" [disabled]="!addressForm.valid" class="mt-4 mb-4 btn btn-primary btn-lg continue-button" >Către modalitățile de livrare</button>
                                </div>
                            </form>
                        </div>
                        <div class="second-page" *ngIf="orderDeliveryInfoExistsFlag">
                            <div class="delivery-info">
                                <h1>DATELE MELE </h1>
                                <div class="email-field" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start none">
                                    <p class="title">E-mail: </p>
                                    <p *ngIf="loggedUser"> {{loggedUser.email}} </p>
                                </div>
                                <div class="address-field" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start none">
                                    <p class="title">Adresa de livrare:</p>
                                    <p *ngIf="loggedUser">{{loggedUser.deliveryInfo.address}},{{loggedUser.deliveryInfo.location}}, {{loggedUser.deliveryInfo.state}}  </p>
                                </div>
                                <div class="phone-field" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start none">
                                    <p class="title">Număr de telefon: </p>
                                    <p *ngIf="loggedUser">{{loggedUser.deliveryInfo.phoneNumber}}</p>
                                </div>
                                <a class="button" (click)="onDeliveryOptionsEdit()">EDITARE</a>
                            </div>
                            <div class="delivery-options">
                    
                                <h1>LIVRARE </h1>
                    
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="deliveryOption">
                                    <div class="radio-button">
                                        <mat-radio-button [value]="1" [checked]="deliveryOption==1" >Livrare standard 24/48h - <span>20 RON</span></mat-radio-button>
                                    </div>
                                    <div class="radio-button">
                                        <mat-radio-button [value]="2" >Livrare a doua zi 24h - <span>45 RON</span></mat-radio-button>
                                    </div>
                                    <div class="radio-button">
                                        <mat-radio-button [value]="3" >Ridicare de la sediu - <span>GRATUIT</span> </mat-radio-button>
                                    </div>
                                    <div class="radio-button">
                                        <span>Livrare standard gratuită pentru comenzi peste 200 RON !</span>
                                    </div>
                                </mat-radio-group>
                    
                            </div>                   
                            <div class="payment-options" >
                                <h1>PLĂȚI </h1>
                                <mat-radio-group aria-label="Select an option">
                                    <div>
                                        <mat-radio-button class="radio-button" value="1" [checked]=true >Ramburs</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                                <div class="button-container">
                                    <button class="mt-4 mb-4 btn btn-primary btn-lg continue-button" (click)="onOrderFinalization()">Finalizare comandă</button>
                                </div>                    
                            </div>
                        </div>                       
                    </div>
                </div>
            
                    
            </mat-drawer-content>
            <mat-drawer mode="side" opened class="cart-content" style="width:30%; padding:20px;">
                <h1>Comanda dvs.</h1>
                <div class="product-table" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start center">
                    <div class="product-element" *ngFor="let products of cartProducts" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between start">
                        <div class="product-image" style="width:50%" >
                            <mat-card class="cardListItem" style="padding-bottom:0;">
                                <img class="image" mat-card-image [src]="products.urlImage1">
                            </mat-card>
                        </div>
                        <div class="product-details" style="width:50%">
                            <div class="product-name">
                                {{products.name}}
                            </div>
                            <div class="product-price">
                                {{products.price}} RON
                            </div>
                            <div class="product-quantity">
                                {{products.itemsnumber}} buc.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-info">
                    <div class="order-value" fxLayout="row" fxLayoutAlign="space-between none">
                        <p class="title-cart" style="text-align: left;">Valoare comandă:</p>
                        <p style="text-align: right;">{{getTotalPrice()}} RON</p>
                    </div>
                    <div class="delivery-value" fxLayout="row" fxLayoutAlign="space-between none">
                        <p class="title-cart" style="text-align: left;">Livrare:</p>
                        <p style="text-align: right;">{{getTransportPrice()}} RON</p>
                    </div>
                    <div class="total-value" fxLayout="row" fxLayoutAlign="space-between none">
                        <p class="title-cart total" style="text-align: left;">Total:</p>
                        <p class="title-cart total" style="text-align: right;">{{getFinalPrice()}} RON</p>
                    </div>
                    <div>
                        <a class="button" (click)="onBackToCart()">Înapoi la coș</a>
                    </div>
                </div>
            </mat-drawer>
        </mat-drawer-container>
    </div>
</div>