<div class="content-wrapper">
    <div class="page-container">
        <div class="mt-3 mb-mb-0 mb-4 col-md-3">
            <div class="left-selection-wrapper">
                <div class="page-info">
                    <h1>Plant Category Title </h1>
                    <p>With so many plants online to choose from and grow with, it’s hard to pick just one for plant delivery! From bamboo to herb gardens to large indoor plants -- each one is ready to fit in with your (or a friend’s) personality, space or occasion.</p>
                </div>
                <div class="sort-options">
                    <ul>
                        <li>Name: A to Z</li>
                        <li>Name: Z to A</li>
                        <li>Price: Low to High</li>
                        <li>Price: High to Low</li>
                    </ul>
                </div>
                <div class="price-options">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="size-options">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="care-level-options">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="product-list col-md-9">
            </div>
        </div>
    </div>
</div>
