@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.content-wrapper{
    margin-top:0px;
    padding-bottom: 20vh;
}

.home-link{
   font-weight: bold;
}

.home-link:hover{
    text-decoration: underline;
}

.left-info{
}
.category-title h1{
    font-size:1rem !important; 
}
.description-container{
    background-color:rgb(241, 241, 241);
    font-size:0.8rem;
    text-align: justify;
    padding:15px;
    padding-bottom: 0px;
}

.description{
}
.row-link{
    width:100%;
    height: 20px;
    margin-top:0px;
    margin-bottom:10px;
}
.options h3{
    font-size:0.8rem !important;
}

li{
    margin:0;
    padding-top:3px;
    text-align: left;
}

.list-page-container{
    margin: 0 auto;
    max-width:960px;
}
/*
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0,1);
    margin: 8px 0px;
    content: "";
    flex-grow: 1;
    background-image: linear-gradient(90deg,#000 100%,hsla(0,0%,100%,0) 0);
    background-position: bottom;
    background-size: 5px 5px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
*/
.left-selection-wrapper h3{
    font-size: 1rem;
    padding:5px 20px;
    font-weight: bold;
}

.left-selection-wrapper li{
    font-size: 0.8rem;
}

.category-title h1{
    font-size: 1.3rem;
    padding:5px 20px;
    font-weight: bold;; 
}


ul{
    list-style-type: none;
}

.cardList{
    display:flex;
}

.price{
    font-weight: 600;
    
}
.product-list{ 
    margin-top:0px;
    height: auto;  
    font-family: 'Roboto', sans-serif!important;
    padding: 0 15px;
}

.cardList{
    margin-top:0px;
}

.image{
    margin-bottom: 5px;
}

.cardListItem{
    margin-bottom:30px;
}


.cardListItem:link{

}
      
.cardListItemn:visited{

}
      
.cardListItem:hover{
    cursor: pointer;
 }

 .details{
     font-size: small;
     height: 20px;
     width:50px;
     margin-bottom:5px;
     padding:0;
     margin:0;
     font-family: 'Roboto', sans-serif!important;
 }

 .price{
    text-align: end;
    font-family: 'Roboto', sans-serif!important;

 }
.radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    font-size:0.8rem;
    padding-left: 15px;
}

.details{
    font-size:0.7rem;
}

.row-link{
    padding-top:5px;
    font-size:0.7rem;
}

.link-detail{
    padding-left:10px;
}


  .our-story{
    font-size:0.8rem;
    text-align:center;
    padding:25px;

}

.hr {
    border-top: 1px solid black;
    margin:0;
  }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0,1);
    margin: 8px 0px;
    margin-top:20px;
  }
  
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background-image: linear-gradient(90deg,#000 30%,hsla(0,0%,100%,0) 0);
    background-position: bottom;
    background-size: 5px 5px;
    background-repeat: repeat-x;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }

  .text-container{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    position:relative;
    top:10px;
    text-align:center;
    margin-top:0;
  }
  .nr-of-items{
      margin-right:25px;
  }

  .no-products-text{
      padding-top:40px;
      font-family: 'Anton', sans-serif;
      font-size:0.8em;
  }

  .toggle-menu-title{
      display:none;
  }

  .menu-link:hover{
    cursor: pointer;
  }

  .menu-link{
    font-size: 1rem;
    padding:5px 20px;
    font-weight: bold;
  }

    .menu-link a{
    text-decoration: underline;
    }
    
    .menu-link a:hover{
    cursor: pointer;
    text-decoration: underline;
    }

  @media screen and (max-width: 1800px) {
  #toggle-menu{
    display:block;}
  }

  @media screen and (max-width: 600px) {
    .toggle-menu-title {
        display:inline;
    }

    #toggle-menu{
        display:none;
    }}

  @media screen and (max-width: 800px) {
    .description-container, .description {
        height: 0;
        opacity: 0;
    }}


      

