<div class="content-wrapper">
    <div class="page-container collection container">
        <div class="row-link" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start">
            <div class="link-detail"><a class="home-link" (click)="onClickToHome()">Acasă</a> > {{category}} </div>
            <div class="nr-of-items">{{nrOfItems}} item-uri</div>
        </div>
        <div class="row"  fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start" fxLayout.xs="column">
                <div class="left-info" fxFlex="1 1 calc(25% -15px)" fxFlex.xs="0 0 100%">
                    <div class="left-selection-wrapper">
                        <div class="category-title">
                            <h1>{{category | uppercase}} </h1>
                        </div>
                        <div class="description-container">                          
                                <p class="pb-0 description mb-0 mb-md-4">
                                    Cu o colecție atât de mare de plante, este greu de ales! De la plante mini la
                                    cele mai mari și bogate plante - fiecare este gata să se potrivească
                                    cu personalitatea, spațiul sau momentul tău special. (sau a unui prieten).
                                </p>                     
                         </div>
                        <div class="sort-options options">
                            <div class="hr"></div>
                            <h3>Sortare</h3>
                            <div class="hr"></div>
                            <mat-radio-group class="radio-group" aria-label="Select an option" [(ngModel)]="sortOption" (change)="sortProducts()">
                                <mat-radio-button class="radio-button-first" value="atoz" >Nume: A la Z</mat-radio-button>
                                <mat-radio-button class="radio-button-first" value="ztoa">Nume: Z la A</mat-radio-button>
                                <mat-radio-button class="radio-button-first" value="ascending">Preț: Crescator</mat-radio-button>
                                <mat-radio-button class="radio-button-first" value="descending">Preț: Descrescator</mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="price-options options">
                            <div class="hr"></div>
                            <h3>Preț</h3>
                            <div class="hr"></div>
                            <mat-radio-group class="radio-group" aria-label="Select an option" [(ngModel)]="priceOption" (change)="sortProductsByPrice()">
                                <mat-radio-button class="radio-button-second" [value]="1">Sub 50 RON</mat-radio-button>
                                <mat-radio-button class="radio-button-second" [value]="2">50 RON - 100 RON</mat-radio-button>
                                <mat-radio-button class="radio-button-second" [value]="3">100 RON - 200 RON</mat-radio-button>
                                <mat-radio-button class="radio-button-second" [value]="4">200 RON +</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="product-list"  fxFlex="1 1 calc(75% -15px)"  fxFlex.xs="0 0 100%">              
                    <div class="cardList" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="left top" fxLayout.xs="column">
                        <p class="no-products-text" *ngIf="filteredProducts && !filteredProducts.length">Nu avem disponibile produse din această categorie!</p>
                        <ng-container *ngFor="let products of filteredProducts" >     
                            <mat-card class="cardListItem"  [routerLink] = "['/products/p', products.name, categoryParam]" fxFlex="0 1 calc(33% -15px)" fxFlex.xs="0 0 100%"  >
                                <img class="image" mat-card-image [src]="products.urlImage1">
                                <mat-card-content  fxLayout="row" fxLayoutAlign="space-between center"  >
                                    <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products.name}}</div>
                                    <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products.price}}  RON</div>
                                </mat-card-content>
                            </mat-card>
                        </ng-container> 
                    </div>
                </div>
        </div>
    </div>
</div>
