@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

.navbarwrapper{
    background-color: rgb(242, 242, 242) !important;
    font-size:0.8em!important;
    position : relative!important;
    min-height: 65px;
}

.navbar{
    margin: auto;
    max-width: 960px;
    background-color: rgb(242, 242, 242) !important;
} 

.icon:link{
    text-decoration: none;
}
  
.icon:visited{
    text-decoration: none;
    color:black;
}

.icon:hover{
    color:grey;
}

.brand:link{
    color:black;
    font-size:2em;
    font-family: 'Comfortaa', cursive;
}

.brand:hover{
    color:black;
    text-decoration: none;
}

.brand:visited{
    color:black;
}

#brand-small{
    font-size:0.5em;
    font-family: 'Comfortaa', cursive;
}

.dropdown-item{
    font-size: 0.9em;
}
.dropdown-item:hover{
    text-decoration: underline;
}

.nav-btn{
    margin: 0 auto !important;
}

.if-collapsed{
    display:none;
}

@media screen and (max-width: 995px) {
    .if-collapsed{
        display: block;
    }
    .menu-social{
        display:none;
    }
}


