    <div class="navbarwrapper">
    <nav class="navbar nav-fill navbar-expand-lg sticky-top navbar-light bg-light">
        <a class = "brand"  [routerLink]="['/welcome']" ><span id="CompaName">planteria<span id="brand-small">.ro</span></span></a>       
        <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [ngbCollapse]="!toggleNavbar">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            <li class="nav-item">
              <a class="nav-link" > <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown dmenu" dropdown>
                  <a dropdownToggle role="button" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" >
                  TIPURI DE PLANTE
                  </a>
                    <ul *dropdownMenu class="dropdown-menu sm-menu">
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'all']" >Toate Plantele</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'vining']" >Plante curgătoare</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'airpurifying']" >Plante purificatoare de aer</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'lowlight']" >Plante pentru lumină redusă</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'easycare']" >Plante ușor de îngrijit</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'petfriendly']">Plante pet-friendly</a></li>
                    </ul>
                </li> 

                <li class="nav-item dropdown dmenu" dropdown>
                  <a dropdownToggle role="button" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" >
                  COLECȚII
                  </a>
                    <ul *dropdownMenu class="dropdown-menu sm-menu">
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'hoya']" >Hoya</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'peperomia']" >Peperomia</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'philodendron']" >Philodendron</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'pothos']" >Pothos</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'sanseveria']" >Sanseveria</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'calathea']" >Calathea</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'palm']">Palmieri</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'succulent']">Suculente</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'flowering']">Plante cu flori</a></li>
                    </ul>
                </li> 
          
                <li class="nav-item dropdown dmenu" dropdown>
                  <a dropdownToggle role="button" class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown" >
                  DUPĂ MĂRIME
                  </a>
                    <ul *dropdownMenu class="dropdown-menu sm-menu">
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'large']">Plante Mari</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'medium']">Plante Medii</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'small']">Plante Mici</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'mini']">Plante Mini</a></li>
                    </ul>
                </li> 
                <li class="nav-item dropdown dmenu" dropdown>
                  <a dropdownToggle role="button" class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown" >
                  SFATURI DE ÎNGRIJIRE
                  </a>
                    <ul *dropdownMenu class="dropdown-menu sm-menu">
                      <li><a class="dropdown-item"  href="https://www.plants.com/greenhouse/">GREENHOUSE Blog</a></li>
                      <li><a class="dropdown-item"  [routerLink] = "['/products/c', 'medium']">Cere sfatul unui expert</a></li>
                    </ul>
                </li>   
                
                <li role="separator" class="divider if-collapsed"></li>
                
                <li class="nav-item if-collapsed"> 
                  <a class="nav-link" routerLink="/search">Search</a>
                </li>  
                <li class="nav-item if-collapsed">
                  <a  *ngIf="!user"  class="nav-link" [routerLink] = "['/login']" >Login</a>
                  <a  *ngIf="user"  class="nav-link" [routerLink] = "['/profile']" >My Account</a>
                </li>
                <li class="nav-item if-collapsed">
                  <a class="nav-link" routerLink="/cart">Cart</a>
                </li>    
          </ul>
        </div>
        <div class="menu-social" >
          <ul class="nav navbar-nav">
            <li class="nav-item" style="margin:auto">
              <div class="nav-link">
                <a routerLink="/search" class="icon" >
                  <mat-icon svgIcon="search-icon"></mat-icon>
                </a>
              </div>
            </li>

            <li class="nav-item" style="margin:auto" >
              <div class="nav-link">
                  <a  *ngIf="!user" [routerLink] = "['/login']" class="icon"> 
                    <mat-icon svgIcon="user-icon" ></mat-icon>
                  </a> 
                  <a *ngIf="user" [routerLink] = "['/profile']" class="icon"> 
                    <mat-icon svgIcon="user-icon" ></mat-icon>
                  </a>
                </div>        
            </li>
            <li class="nav-item" style="margin:auto">
              <div class="nav-link">
                <a routerLink="/cart" class="icon">
                  <mat-icon svgIcon="cart-icon"  *ngIf="cartItemsNumber==0" ></mat-icon>
                  <mat-icon svgIcon="cart-icon" matBadge={{cartItemsNumber}} matBadgeSize="small" matBadgePosition="below"  matBadgeColor="accent" matBadgeOverlap="true" *ngIf="cartItemsNumber!==0" ></mat-icon>
                </a>
              </div>
            </li>
          </ul>
        </div>
    </nav> 
  </div>





    