<div class="login-page-wrapper">
    <div class="content-wrapper">
        <div class="flex-container" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start">
            <div class = "flex-item">
                <div class="login-text" *ngIf="componentViewLogin">
                    <div class="block-text-item">
                        <p>INTRĂ ÎN CONTUL TĂU.</p>
                    </div>
                    <div class="switch-text-item">
                        <p>Nu ai cont? <a (click)="toggleView()">Creează un cont nou.</a></p>
                    </div>
                </div>
                <div class="subscribe-text" *ngIf="!componentViewLogin">
                    <div class="block-text-item">
                        <p>CREEAZĂ UN CONT NOU.</p>
                    </div>
                    <div class="switch-text-item">
                        <p>Ai deja un cont? <a (click)="toggleView()">Loghează-te în contul tău.</a></p>
                    </div>
                </div>
            </div>
        <div class = "flex-item">
           <div class="login-form" *ngIf="componentViewLogin">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm)" class="login-form">
                    <p>
                        <mat-form-field appearance="outline" color="accent" [style.width.px]=400>
                            <mat-label>Email</mat-label>
                            <input matInput  required  formControlName="email" maxlength="30" >
                            <mat-error *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                <span *ngIf="loginForm.get('email').errors.required">Acest camp este obligatoriu!</span>
                                <span *ngIf="loginForm.get('email').errors.email ">Introduceti o adresa de email valida!</span>
                                <span *ngIf="loginForm.get('email').errors.maxlength">Nr. maxim de caractere admis este 25!</span>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="password-input" appearance="outline" color="accent" [style.width.px]=400>
                            <mat-label>Parolă</mat-label>
                            <input matInput type="password" required  formControlName="password" minlength="6" >
                            <mat-error *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                <span *ngIf="loginForm.get('password').errors.required">Acest camp este obligatoriu!</span>
                                <span *ngIf="loginForm.get('password').errors.minlength">Nr. minim de caractere admis este 6!</span>
                            </mat-error>
                        </mat-form-field>
                    </p>
                  
                    <div>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn welcome-button"  >Autentificare</button>
                    </div>
                    <div class="error-text">
                        <p *ngIf="loginErrorMessage" id="error-text-id" >{{loginErrorMessage}}</p>
                    </div>
                </form>
                
            </div>
            <div class="subscribe-form" *ngIf="!componentViewLogin" >
                <form class="subscribe-form" [formGroup]="subscribeForm" (ngSubmit)="onSubmitSubscribe(subscribeForm)">
                    <p>
                        <mat-form-field appearance="outline" color="accent" [style.width.px]=400>
                            <mat-label>Nume</mat-label>
                            <input matInput required formControlName="lastname" maxlength="20" >
                            <mat-error *ngIf="subscribeForm.get('lastname').invalid && (subscribeForm.get('lastname').dirty || subscribeForm.get('lastname').touched)">
                                <span *ngIf="subscribeForm.get('lastname').errors.required">Acest camp este obligatoriu!</span>
                                <span *ngIf="subscribeForm.get('lastname').errors.email ">Introduceti o adresa de email valida!</span>
                                <span *ngIf="subscribeForm.get('lastname').errors.maxlength">Nr. maxim de caractere admis este 25!</span>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field  appearance="outline" color="accent" [style.width.px]=400>
                            <mat-label>Prenume</mat-label>
                            <input matInput required formControlName="firstname" maxlength="20" >
                            <mat-error *ngIf="subscribeForm.get('firstname').invalid && (subscribeForm.get('firstname').dirty || subscribeForm.get('firstname').touched)">
                                <span *ngIf="subscribeForm.get('firstname').errors.required">Acest camp este obligatoriu!</span>
                                <span *ngIf="subscribeForm.get('firstname').errors.email ">Introduceti o adresa de email valida!</span>
                                <span *ngIf="subscribeForm.get('firstname').errors.maxlength">Nr. maxim de caractere admis este 15!</span>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" [style.width.px]=400>
                            <mat-label>Email</mat-label>
                            <input matInput required class="input" formControlName="email" maxlength="30"  >
                            <mat-error *ngIf="subscribeForm.get('email').invalid && (subscribeForm.get('email').dirty || subscribeForm.get('email').touched)">
                                <span *ngIf="subscribeForm.get('email').errors.required">Acest camp este obligatoriu!</span>
                                <span *ngIf="subscribeForm.get('email').errors.email ">Introduceti o adresa de email valida!</span>
                                <span *ngIf="subscribeForm.get('email').errors.maxlength">Nr. maxim de caractere admis este 25!</span>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="password-input" appearance="outline" color="accent" [style.width.px]=400>
                            <mat-label>Parolă</mat-label>
                            <input matInput type="password" required formControlName="password" minlength="6" >
                            <mat-error *ngIf="subscribeForm.get('password').invalid && (subscribeForm.get('password').dirty || subscribeForm.get('password').touched)">
                                <span *ngIf="subscribeForm.get('password').errors.required">Acest camp este obligatoriu!</span>
                                <span *ngIf="subscribeForm.get('password').errors.minlength">Nr. minim de caractere admis este 6!</span>
                            </mat-error>
                        </mat-form-field>
                    </p>                 
                    <div>
                        <button type="submit" class="btn welcome-button" [disabled]="!subscribeForm.valid" >Înregistrare</button>
                    </div>
                    <div class="error-text">
                        <p *ngIf="subscribeErrorMessage" id="error-text-id" >{{subscribeErrorMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
