
<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="product-view" *ngIf='product'>
            <div class="product-detail" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center stretch" fxLayout.xs="column" >
                <div class='photo-galery' fxFlex="0 1 calc(15% -15px)" fxFlex.xs="0 0 0">
                    <div class ="photo-container" fxLayout="column" fxLayoutGap="15px">
                        <div class="image-container" (click)='showImage(product.urlImage1)'>
                            <img [src]="product.urlImage1" width="100%" height="100%">
                        </div>
                        <div class="image-container" (click)='showImage(product.urlImage2)'>
                            <img [src]="product.urlImage2" width="100%" height="100%">
                        </div>
                        <div class="image-container" (click)='showImage(product.urlImage3)'>
                            <img [src]="product.urlImage3" width="100%" height="100%">
                        </div>
                    </div>
                </div>
                <div class='main-photo' fxFlex="0 1 calc(50% -15px)" fxFlex.xs="1 1 calc(100% - 15px)">
                    <img [src]="currentImageUrl" width="100%" height="100%">
                </div>
                <div class='side-info' fxFlex="0 1 calc(35% - 15px)" fxFlex.xs="1 1 calc(100% - 15px)" >
                    <div class="info-container" >
                        <div class="product-title">
                            <h1>{{product.name}}</h1>
                        </div>
                        <div class="product-price">
                            <h2>{{product.price}} RON</h2>
                        </div>    
                        <div class="product-rating" fxLayout="row"  fxLayoutAlign="start stretch">
                            <div class="inline-element-rating">
                                <app-rating> </app-rating> 
                            </div>
                            <div class="inline-element-rating">
                                <p>| {{product.numberofreviews}} 25 comentarii <p>
                            </div>
                        </div>               
                        <div class="product-text">
                            <p>{{product.productdetail}}</p>
                        </div>
                        <div class="plant-quantity" fxLayout="row" fxLayoutAlign="start none" >
                            <div class="inline-element qty-text" fxFlex="0 0 calc(30% -15px)">
                                <p>Cantitate</p>
                            </div>
                            <div class="inline-element qty-selector" fxFlex="0 0 calc(65% -15px)">
                                <mat-form-field class="select-element">
                                    <select [(value)]="selected" matNativeControl required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="hr-sect"></div>
                        <div class="delivery-info-text">
                            <p>Livrare gratuită la comezi peste 200 RON!</p>
                        </div>    
                        <div class="hr-sect"></div>
                        <div class="button-container" fxLayout="row" fxLayoutAlign="left center">
                            <a type="button" class="btn add-button" >Adaugă în coș</a>
                        </div>                   
                    </div>
                </div>
            </div>
            <div class="product-information">
                <mat-tab-group  animationDuration="0ms">
                    <mat-tab label="Detalii produs" >
                        <div class="details-content">
                            <p>{{product.productdetail}}</p>
                        </div>
                    </mat-tab>
                    <mat-tab label="Instrucțiuni de îngrijire"> 
                        <div class="details-content">
                            <p></p>
                        </div> 
                    </mat-tab>
                    <mat-tab label="Ce este inclus">
                        <div class="details-content">
                            <p></p>
                        </div>  
                    </mat-tab>
                    <mat-tab label="Livrare">
                        <div class="details-content">
                            <p></p>
                        </div>  
                    </mat-tab>
                </mat-tab-group>
            </div> 
            <div class="reviews-container">
                
            </div>

                    
        </div>

    </div>
</div>