
<div class="page-wrapper">
    <div class="content-wrapper" fxLayout="column">
        <div class="row-link" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start">
            <div class="link-detail"><a class="home-link" (click)="onClickToBack()"><< Înapoi</a></div>
        </div>
        <div class="product-view" *ngIf='product'>
            <div class="product-detail" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center none" fxLayout.xs="column" >
                <div class='photo-galery' fxFlex="0 0 calc(15% -15px)" >
                    <div class ="photo-container" fxLayout="column" fxLayoutGap="15px">
                        <div class="image-container" (click)='showImage(product.urlImage1)'>
                            <img [src]="product.urlImage1" width="100%" height="100%">
                        </div>
                        <div class="image-container" (click)='showImage(product.urlImage2)'>
                            <img [src]="product.urlImage2" width="100%" height="100%">
                        </div>
                        <div class="image-container" (click)='showImage(product.urlImage3)'>
                            <img [src]="product.urlImage3" width="100%" height="100%">
                        </div>
                    </div>
                </div>
                <div class='main-photo' fxFlex="0 0 calc(50% -15px)" >
                    <img [src]="currentImageUrl" width="100%" height="100%" >
                </div>
                <div class="responsive" *ngIf="product">
                    <app-swiper-detail
                    [urlImage1] = "product.urlImage1"
                    [urlImage2] = "product.urlImage2"
                    [urlImage3] = "product.urlImage3"
                    ></app-swiper-detail>
                </div>
                <div class='side-info' fxFlex="0 0 calc(35% - 15px)" >
                    <div class="info-container " >
                        <div class="product-title">
                            <h1>{{product.name}}</h1>
                        </div>  
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                          </ng-template>
                        <ngb-rating [rate]='product.totalScore' [starTemplate]="t" ></ngb-rating>     
                        <div class="product-rating" fxLayout="row"  fxLayoutAlign="start none" >                                                                                          
                            <div class="inline-element-rating">
                                <a class="go-to-reviews" [routerLink]='"."' [fragment]="link" fragment="contactTypes">
                                    <p> <ng-container *ngIf="product.reviewCount>0"> {{product.totalScore | number : '1.2-2'}} | {{product.reviewCount}} <span *ngIf="product.reviewCount!==1">comentarii</span> <span *ngIf="product.reviewCount==1">comentariu</span> </ng-container>
                                        <ng-container *ngIf="!product.reviewCount" style="color:rgba(0,0,0,0.3)!important;">  | 0 comentarii </ng-container> 
                                    </p>
                                </a>
                            </div>
                        </div>               
                        <div class="product-text" >
                            <p>{{product.productdetail}}</p>
                        </div>
                        <div class="product-price">
                            <h2>{{product.price}} RON</h2>
                        </div>
                        <div class="plant-quantity" fxLayout="row" fxLayoutAlign="start none" >
                            <div class="inline-element qty-text" fxFlex="0 0 calc(30% -15px)">
                                <p>Cantitate</p>
                            </div>
                            <div class="inline-element qty-selector" fxFlex="0 0 calc(65% -15px)">  
                                    <select class="form-control form-control-sm" [(ngModel)]="nrOfItems" value="1" selected="1" >
                                        <option value="1" >1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>                    
                            </div>
                        </div>
                        <div class="hr"></div>
                        <div class="delivery-info-text">
                            <p>Livrare gratuită la comezi peste 200 RON!</p>
                        </div>    
                        <div class="hr"></div>
                        <div class="button-container" fxLayout="row" fxLayoutAlign="left center">
                            <a type="button" class="btn add-button" (click)="addProductToCart(product,nrOfItems)" >Adaugă în coș</a>
                        </div>                   
                    </div>
                </div>
            </div>            
        </div>
        <div class="product-information" *ngIf='product'>
            <mat-tab-group  animationDuration="0ms" color="accent">
                <mat-tab label="Detalii produs" >
                    <div class="details-content" >
                        <ul  *ngFor='let specs of productspecs '>
                        <li *ngIf=' specs.length!==0 && specs!=="" '>{{specs}}</li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="Instrucțiuni de îngrijire"> 
                    <div class="details-content">
                        <ul>
                            <li>{{careinstructions[0]}}</li>
                            <li>{{careinstructions[1]}}</li>
                            <li>{{careinstructions[2]}}</li>
                            <li>{{careinstructions[3]}}</li>
                        </ul>
                    </div> 
                </mat-tab>
                <mat-tab label="Ce este inclus">
                    <div class="details-content">
                        <ul> 
                            <li>Plantă în ghiveci de plastic de {{product.size}} cm într-un sol ecologic de nucă de cocos.</li>
                            <li>Instrucțiuni de îngrijire intr-un ghid printat.</li>
                            <li>Sfaturi de îngrijire și asistență pentru toată durata de viață a plantei tale.</li>
                            <li>Garanție de 30 de zile.</li>
                        </ul>
                    </div>  
                </mat-tab>
                <mat-tab label="Livrare">
                    <div class="details-content">
                        <ul>
                            <li>Plantele noastre sunt ambalate cu grijă și livrate direct din sera noastră până la ușa ta.</li>
                            <li>Toate comenzile de peste 200 ron sunt livrate gratuit.</li>
                            <li>Timpul nostru standard de livrare este de 2-4 zile lucrătoare.</li>
                            <li>Transportul standard este de 20 RON.</li>
                            <li>Oferim și transportul a doua zi și livrarea sâmbătă.</li>
                        </ul>
                    </div>  
                </mat-tab>
            </mat-tab-group>
        </div>         

        <div class="text-container">
            <div class="hr-sect"><p class="text-title">Produse sugerate</p></div>
        </div>
        <div class="responsive" *ngIf="relatedProducts">
            <a  class="related-p-link" ></a>
            <app-suggested-swiper
            [suggestedProducts] = "relatedProducts"
            (clicked)="onChange($event, param)"       
            ></app-suggested-swiper>
            </div>
        </div>
        <div class="related-products" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start" *ngIf="relatedProducts">
            <div class="related-item" fxFlex="0 0 calc(25% -20px)" fxFlex.sm="1 1 calc(50% -20px)" fxFlex.xs="1 1 calc(100% -20px)" *ngFor="let products of relatedProducts">
                <a  class="related-p-link" (click)="onChange(products.name, param )">
                    <div class="rel-product">
                        <img class="image"  [src]="products.urlImage1" width=100% heigth=100%>
                        <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                            <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products.name}}</div>
                            <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products.price}}  RON</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="text-container">
            <div class="hr-sect"><p class="text-title">Povestea noastră</p></div>
        </div>
        <div class="our-story">
            <p>Bună! Suntem planteria.ro, o echipă dornică de a livra fericire și de a ne împărtăși iubirea față de plante. Echipa noastră este tânără dar cu experiență în aprovizionarea plantelor și este mereu în căutarea celor mai noi plante și tendințe.<br><br>

                Colaborăm cu cultivatorii din toată Europa pentru a aduna o mare varietate de plante proaspete și frumoase, de la standarde clasice până la favoare în tendințe, expediere direct din sera noastră pentru a ajunge la ușa ta. Avem soiuri selectate manual pentru a ne decora spațiile de locuit și de muncă și pentru a ne antrena buna dispoziție.<br><br>
                
                Scopul nostru este de a ajuta la răspândirea bucuriei plantelor și de a face experiența tuturor să fie una pozitivă. Știm că unele plante și medii din locuință pot fi dificile (salut dulap de birou, despre tine vorbim!), Dar nu vă faceți griji. Suntem aici pentru a ajuta la demitificarea experienței plantelor și a vă face o bucurie. Gata. Am stabilit. Se dezvolta!
        </div>

        <div class="text-container">
            <div class="hr-sect" [attr.id]='link'>Review-uri</div>
        </div>
        <div class="our-story">
        <p *ngIf="product && !product.reviewCount">Nu există review-uri pentru acest produs!</p>
        <div class="reviews-container" *ngIf="product" >
            <div *ngFor="let rev of reviews" >
                <mat-card class="card" >
                    <mat-card-content style="margin-left:20px;">
                        <div class="star-container">
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                              </ng-template>
                            <ngb-rating [rate]='rev.rating' [starTemplate]="t"></ngb-rating>
                        </div>             
                        <div class="line">
                           
                            <p class="reviewAuthor"> {{rev.userFirstname}} {{rev.userLastname}} <span class="reviewDate">{{rev.dateCreated}}</span></p>
                        </div>
                        <div class="line">
                            {{rev.comment}} 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    
    </div>
</div>