<div class="cart-page-wrapper">
    <div class="content-wrapper">
        <div class="flex-container" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start" >
            <div class="flex-item">
                <h1  > COȘ DE CUMPĂRĂTURI ({{cartItemsNumber}}) </h1>
            </div>
            <div class="flex-item">
                <div class="flex-container-button" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="space-between start">
                    <div class="flex-item-button"> 
                        <a class="btn add-button btn-grey" (click)=onContinueShopping()> CONTINUĂ CUMPĂRĂTURILE</a>
                    </div>
                    <div class="flex-item-button" *ngIf="!emptyCartFlag"> 
                        <a class="btn add-button" (click)=onCheckoutCart()> CĂTRE FINALIZAREA COMENZII</a>
                    </div>
                </div>
            </div>
        </div>
       <div class="empty-cart" *ngIf="emptyCartFlag">
           <p>COȘUL DVS. DE CUMPĂRĂTURI ESTE GOL!</p>
       </div>
        <div class="products-table" *ngIf="!emptyCartFlag">        
         <table mat-table [dataSource]="productsInCart" class="mat-elevation-z8">        
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef class ="table-header-name"> Produs </th>
              <td mat-cell *matCellDef="let element"  style="width: 25%;"  class ="table-data-image">
                <div class="image-container">
                    <a [routerLink] = "['/products/p', element.name]">
                    <img mat-card-image [src]="element.urlImage1"  width="100%" height="100%"> </a>
                </div>
                <div class="button-container">
                    <a (click)=onDelete(element)>Ștergere </a>
                </div>               
              </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" class ="table-data-name" style="width: 25%;"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef class="table-header-quantity"> Cantitate </th>
              <td mat-cell *matCellDef="let element" style="width: 25%;"  class ="table-data-quantity">                              
                    <select class="form-control form-control-sm" [(ngModel)]="element.itemsnumber" (change)="onChange($event.target.value,element)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>  
            </td>
            </ng-container>
          
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef class="table-header-price"> Preț </th>
              <td mat-cell *matCellDef="let element" style="width: 25%;"  class ="table-data-price"> {{element.price}} LEI</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div class="container-price" fxFlexLayout="row" fxLayoutAlign="end none">
                <div class="card-container-left">
                    <div  class="card-container-title" *ngIf="productsInCart" fxLayout="row"  fxLayoutGap="60px" fxLayoutAlign="space-between none" >
                        <p class="title-left">Subtotal:</p> 
                        <p class="value-right"> {{getTotalPrice()}} RON</p>
                    </div>
                    <div  class="card-container-title" *ngIf="productsInCart" fxLayout="row"  fxLayoutGap="60px" fxLayoutAlign="space-between none">
                        <p class="title-left">Livrare Standard:</p> 
                        <p class="value-right">{{getTransportPrice()}} RON </p>
                    </div>
                    <div  class="card-container-title" *ngIf="productsInCart" fxLayout="row"  fxLayoutGap="60px" fxLayoutAlign="space-between none">
                        <p class="title-left total">Total: </p> 
                        <p class="value-right total"> {{getFinalPrice()}} RON</p>
                    </div>
                </div>
         </div>        
                <div class="flex-container-button" fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="end start">
                    <div class="flex-item-button"> 
                        <a class="btn add-button" (click)=onCheckoutCart()> CĂTRE FINALIZAREA COMENZII</a>
                    </div>
                </div>        
        </div> 
    </div>
</div>

