.page-container {
  position: relative;  
  min-height: 100vh;
}

.header-container{
}

.container-fluid{
}
.container-fluid:after{
/*   content:''; 
  float:left; */
}

.footer-container{
    /*clear:left;*/

  position: absolute;
  bottom:0px;
  width: 100%;  
}