<div class="welcome-content-wrapper">
    <div class="welcome-image-container">
        <div class="welcome-text-main">
            <p>DIN <br> <span id="coloured-word">SERELE NOASTRE</span> <br>direct LA TINE ACASĂ</p>
        </div>
        <div class="welcome-text-second">
            <p>Adu primăvara în casa ta cu plante verzi și înflorite.</p>
        </div>
            <a type="button" class="btn welcome-button" routerLink="/products">Cumpărați acum</a>
        </div>
    <div class="welcome-categories-wrapper">
        <div class='column'>
            <a routerLink="/products">
                <div class='first-column'>
                    <img >
                </div>
            </a>
        </div>
        <div class='column'>
            <a routerLink="/products">
                <div class='second-column'>
                  <img>
                </div>
            </a>
        </div>
        <div class='column'>
            <a routerLink="/products">
                <div class='third-column'>
                  <img>
                </div>
            </a>
        </div>
    </div>
    <div class="welcome-new-in-wrapper">
        <div class="text-container">
          <div class="hr-sect"><p class="text-title">Shop new in</p></div>
        </div>
        <div class="welcome-new-in-container" *ngIf='products' >
            <a [routerLink] = "['/products/p', products[0].name]" class="link">
                <div class="new-in-product">
                    <img class="image"  [src]="products[0].urlImage1" width=100% heigth=100% >
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[0].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[0].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[1].name]">
                <div class="new-in-product">
                    <img class="image"  [src]="products[1].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[1].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[1].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[2].name]">
                <div class="new-in-product">
                    <img class="image" [src]="products[2].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[2].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[2].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[3].name]">
                <div class="new-in-product">
                    <img class="image"  [src]="products[3].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[3].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[3].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[4].name]">
                <div class="new-in-product">
                    <img class="image"  [src]="products[4].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[4].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[4].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[5].name]">
                <div class="new-in-product">
                    <img class="image"  [src]="products[5].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[5].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[5].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[6].name]">
                <div class="new-in-product">
                    <img class="image"  [src]="products[6].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[6].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[6].price}}  RON</div>
                    </div>
                </div>
            </a>
            <a [routerLink] = "['/products/p', products[7].name]">
                <div class="new-in-product">
                    <img class="image"  [src]="products[7].urlImage1" width=100% heigth=100%>
                    <div  fxLayout="row" fxLayoutAlign="space-between center"  >
                        <div class="details name" fxFlex="0 1 calc(65% -15px)">{{products[7].name}}</div>
                        <div class="details price" fxFlex="0 1 calc(35% -15px)">{{products[7].price}}  RON</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="text-container">
      <div class="hr-sect"><p class="text-title">Plants you love</p></div>
    </div>
    <div class="welcome-plants-you-love">
        <div class='slide-column'>
            <div class='slider-first-column'>
            </div>
        </div>
        <div class='slide-column'>
            <div class='slider-second-column'>
            </div>
        </div>
        <div class='slide-column'>
            <div class='slider-third-column'>
            </div>
        </div>
            <div class='slide-column'>
              <div class='slider-fourth-column'>
              </div>
            </div>
       </div>
  </div>
  <div class="shopping-facilities-wrapper">
    <div class="size-container">
        <div class="shopping-facilities-container" >
            <div class='info-column'> 
                <div class='icons'>
                    <mat-icon svgIcon="box-icon"></mat-icon>  
                </div>            
                <h4>Livrare flexibilă</h4> 
                <p class = "description">Alege data livrării în funcție de programul tău!
                  Durata normală a livrării este 3-5 zile lucrătoare.
                  Livrare gratuită pentru comenzi mai mari de 200 RON.</p>            
            </div>
            <div class='info-column'> 
              <div class='icons'>
                  <mat-icon svgIcon="plant-pot-icon"></mat-icon>
                  <mat-icon svgIcon="cactus-icon"></mat-icon>
                  <mat-icon svgIcon="growth-icon"></mat-icon>
              </div>           
              <h4>Plante direct din seră</h4> 
              <p class = "description">Plantele sunt livrate direct din sera noastră, unde sunt păstrate în condițiile ideale.
                  Asigurăm calitatea și starea impecabilă a plantelor noastre la livrare.
              </p>            
            </div>
            <div class='info-column'> 
              <div class='icons'>  
                <mat-icon svgIcon="gardening-icon"></mat-icon>            
              </div>  
                <h4>Semințele succesului</h4> 
                <p class = "description">Garanție 30 de zile pentru toate plantele livrare + carduri cu instrucțiuni de îngrijire incluse.  </p>                         
            </div>
        </div>
    </div>
</div>



