@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.welcome-content-wrapper{
  margin: 0 auto;
  max-width:960px;
  background-color: white;
}

.welcome-image-container{
    background-image: url('../../../assets/Welcome/welcome-photo.jpg');  
    margin: 0 auto;
    max-width:960px;
    height: 400px;
    margin-bottom: 30px;
} 
.welcome-text-main {
    width:350px;
    height:50px;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    margin:auto;
  }

#coloured-word{
    color:greenyellow;
}

.welcome-text-second{
    width:250px;
    height:30px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin:auto;
    position:relative;
    top:150px;
    left:-45px;
}

.welcome-button{
    width: 150px;
    height: 40px;
    background-color:greenyellow;
    font-family: 'Anton', sans-serif;
    border-radius: 0 !important;
    position:relative;
    top:200px;
    left:310px;
}

.welcome-categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  justify-content:space-between;
}
  .text-container{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    position:relative;
    top:10px;
    text-align:center;
    margin-top:0;
  }

  .column {
    flex: 31%;
    max-width: 31%;
    margin-bottom: 20px;
  }

  .orange-column {
    background-color: lightpink;
    height: 300px;
  }
  
  .blue-column {
    background-color: lightpink;
    height: 300px;
  }
  
  .green-column {
    background-color: lightpink;
    height: 300px;
  }

  .welcome-new-in-container{
    display:grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    grid-template-rows: 200px 200px;
  }

  .new-in-product{
    background-color: lightpink;
  
  }

  .welcome-plants-you-love {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content:space-between;
  }

  .slide-column {
    flex: 23%;
    max-width: 23%;
    margin-bottom: 20px;
  }

  .shopping-facilities-wrapper{
    margin:0;
    background-color:lightgreen;
  }

  .size-container{
    margin:0 auto;
    width:960px;
  }

  .shopping-facilities-container{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content:space-between;
  }

  .info-column {
    flex: 33.33%;
    max-width: 33.33%;
  }

  .shopping-facilities-wrapper{
background-color: rgba(122, 163, 127, 0.5);
  }

  .info-column h4{
    font-size:1rem;
    font-weight: bold;
    text-align:center;
    padding-top:15px;
  }

  .info-column p{
    font-size:0.8rem;
    text-align:center;
    padding:15px;
    }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0,1);
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    /*background: rgba(0, 0, 0, 0.35);*/
    background-image: linear-gradient(90deg,#000 30%,hsla(0,0%,100%,0) 0);
    background-position: bottom;
    background-size: 5px 5px;
    background-repeat: repeat-x;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }

@media (max-width: 960px) {
  .column, .info-column {
    flex: 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 960px) {
  .slide-column {
    flex: 25%;
    max-width: 25%;
  }
}

@media (max-width: 800px) {
  .column, .info-column, .slide-column {
    flex: 100%;
    max-width: 100%;
  }
}



