<div class="welcome-content-wrapper">
        <div class="welcome-image-container">
            <div class="welcome-text-main">
            <p>FROM OUR <br> <span id="coloured-word">GREENHOUSE</span> <br>TO YOUR HOUSE</p>
            </div>
            <div class="welcome-text-second">
            <p>Bring spring in with green & blooming plants.</p>
            </div>
            <a type="button" class="btn welcome-button">Shop now</a>
        </div>
    <div class="welcome-categories-wrapper">
            <div class='column'>
              <div class='green-column'>
                Some Text in Column One
              </div>
            </div>
            <div class='column'>
              <div class='blue-column'>
                Some Text in Column Two
              </div>
            </div>
                <div class='column'>
              <div class='orange-column'>
                Some Text in Column Three
              </div>
            </div>
    </div>
    <div class="welcome-new-in-wrapper">
        <div class="text-container">
          <div class="hr-sect"><p class="text-title">Shop new in</p></div>
        </div>
        <div class="welcome-new-in-container">
            <div class="new-in-product">One</div>
            <div class="new-in-product">Two</div>
            <div class="new-in-product">Three</div>
            <div class="new-in-product">Four</div>
            <div class="new-in-product">One</div>
            <div class="new-in-product">Two</div>
            <div class="new-in-product">Three</div>
            <div class="new-in-product">Four</div>
        </div>
    </div>
    <div class="text-container">
      <div class="hr-sect"><p class="text-title">Plants you love</p></div>
    </div>
    <div class="welcome-plants-you-love">
            <div class='slide-column'>
              <div class='green-column'>
                Some Text in Column One
              </div>
            </div>
            <div class='slide-column'>
              <div class='orange-column'>
                Some Text in Column Two
              </div>
            </div>
            <div class='slide-column'>
              <div class='orange-column'>
                Some Text in Column Three
              </div>
            </div>
            <div class='slide-column'>
              <div class='green-column'>
                  Some Text in Column One
              </div>
            </div>
    </div>
</div>
<div class="shopping-facilities-wrapper">
    <div class="size-container">
        <div class="shopping-facilities-container" >
            <div class='info-column'>               
                <h4>Flexible Shipping Dates</h4> 
                <p>Choose your delivery date to accommodate your schedule. Our standard shipping time is two - five days with overnight shipping options.</p>            
            </div>
            <div class='info-column'>                
                <h4>Flexible Shipping Dates</h4> 
                <p>Choose your delivery date to accommodate your schedule. Our standard shipping time is two - five days with overnight shipping options.</p>            
            </div>
            <div class='info-column'>               
                <h4>Flexible Shipping Dates</h4> 
                <p>Choose your delivery date to accommodate your schedule. Our standard shipping time is two - five days with overnight shipping options.</p>                          
            </div>
        </div>
    </div>
</div>



