<div class="crop"
[style.width.px]="starWidth"
[title]="rating" >
<div style="width: 75px; color:rgba(0,0,0,0.3)" *ngIf="!rating">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</div>
<div style="width: 75px;" *ngIf="rating">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</div>
</div>
