.footer-wrapper{
  background-color:rgba(240, 242, 245, 0.5);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-info-container{
    max-width:960px;
    margin: 0 auto;
}

.footer-flex-container{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content:center;
    align-items:center;
}

.footer-flex-column{
    flex: 25%;
    max-width: 25%;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
}
.h-separator{
    background-image: linear-gradient(90deg,#000 30%,hsla(0,0%,100%,0) 0);
    background-position: bottom;
    background-size: 5px 5px;
    background-repeat: repeat-x;
}

.hr{
  margin:0;
}
ul {
  list-style-type: none;
}

.footer-flex-column:nth-of-type(4){
  display:flex;
  justify-content: center;
}

.social-icons-group{
  margin-top: -15px;
  width:150px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

h6{
  font-size: 0.8rem;
  font-weight:bold;
}

h5{
  font-size:1rem;
  font-weight:bold;
}

p{
  font-size:0.7rem;
}

li{
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px;
}

h2{
  font-size:1.6rem;
}

.copyright{
  font-size: 0.5rem;
  text-align:center;
}

.footer-links:link{
  text-decoration: none;
}

.footer-links:visited{
  text-decoration: none;
  color:black;
}

.footer-links:hover{
  text-decoration: underline;
}

.icon:link{
  text-decoration: none;
}

.icon:visited{
  text-decoration: none;
  color:black;
}

.icon:hover{
  color:grey;
}

@media (max-width: 960px) {
    .footer-flex-column {
      flex: 25%;
      max-width: 25%;
    }
  }
  
@media (max-width: 800px) {
    .footer-flex-column {
      flex: 100%;
      max-width: 100%;
    }
}


