<div class="footer-wrapper">
    <div class="footer-info-container">
        <div class="footer-flex-container">
            <div class="footer-flex-column">
                <ul>
                    <a><li>Track yout order</li></a>
                    <a><li>Customer Service</li></a>
                    <a><li>About Us</li></a>
                    <a><li>FAQs</li></a>
                </ul>
            </div>
            <div class="footer-flex-column">
                <ul>
                    <a><li>Shipping Info</li></a>
                    <a><li>My Account</li></a>
                    <a><li>Personal Information privacy</li></a>
                </ul>
            </div>
            <div class="footer-flex-column">
                <h2 class = "social-media-text">FOLLOW US</h2>
            </div>
            <div class="footer-flex-column">
                <div class= "social-icons-group">
                    <div clas="social-media-item">
                        <a class="icon"><mat-icon svgIcon="facebook-icon"></mat-icon></a>
                    </div>
                    <div clas="social-media-item">
                        <a><mat-icon svgIcon="twitter-icon"></mat-icon></a>
                    </div>
                    <div clas="social-media-item">
                        <a><mat-icon svgIcon="instagram-icon"></mat-icon></a>
                    </div>
                </div>
            </div>           
        </div>
        <hr class="h-separator separator-align mb-5">
        <div class="footer-extra-info">
            <h5>Plants.com: Ready, Set, Grow with Plant Delivery</h5>
            <h6>Plants Online with Plant Types from Succulents to Bonsais & More</h6>
            <p>We pride ourselves on fast and easy plant delivery on a huge selection of plant types, from succulents to house plants, hanging plants, trees and more!</p>

            <h6>Plant Care Tips from plants.com Experts</h6>
            <p>Our plants.com experts have all the plant care tips and tools you need to keep plants thriving – just try to stump our green team! Check out some of our best-practice tending topics on our Greenhouse Blog!</p>

            <h6>Best Tips for Sending Plants</h6>
            <p>Buying and sending plants online is easy with plants.com. With FREE shipping on all plant orders over $75, standard 2-day shipping for just $7.99, and next-day ship availability - gifting or greenifying your own world couldn’t be easier. Plus every one of our plants arrive carefully packed in a box with utmost loving care.</p>
        </div>
        <div class="copyright">
        <p>Drepturi de autor © 2020 getPlanted.ro </p> 
        </div>
    </div>
</div>
