<div class="footer-wrapper">
    <div class="footer-info-container">
        <div class="footer-flex-container">
            <div class="footer-flex-column">
                <ul>
                    <a routerLink="/customerservice" class="footer-links"><li>Urmărirea comenzii</li></a>
                    <a routerLink="/customerservice" class="footer-links"><li>Serviciu clienți</li></a>
                    <a routerLink="/customerservice" class="footer-links"><li>Despre noi</li></a>
                    <a routerLink="/customerservice" class="footer-links"><li>FAQs</li></a>
                </ul>
            </div>
            <div class="footer-flex-column">
                <ul>
                    <a routerLink="/customerservice" class="footer-links"><li>Informații despre livrare</li></a>
                    <a routerLink="/customerservice" class="footer-links"><li>Contul meu</li></a>
                    <a routerLink="/customerservice" class="footer-links"><li>Contactează un expert</li></a>
                </ul>
            </div>
            <div class="footer-flex-column">
                <h2 class = "social-media-text">FOLLOW US</h2>
            </div>
            <div class="footer-flex-column">
                <div class= "social-icons-group">
                    <div clas="social-media-item">
                        <a class="icon" href="https://www.facebook.com/plantsyoulove"><mat-icon svgIcon="facebook-icon"></mat-icon></a>
                    </div>
                    <div clas="social-media-item">
                        <a class="icon" href="https://twitter.com/plantsyoulove"><mat-icon svgIcon="twitter-icon"></mat-icon></a>
                    </div>
                    <div clas="social-media-item">
                        <a class="icon" href="https://www.instagram.com/plantsyoulove/"><mat-icon svgIcon="instagram-icon"></mat-icon></a>
                    </div>
                </div>
            </div>           
        </div>
        <hr class="h-separator separator-align mb-5">
        <div class="footer-extra-info">
            <h5>GetPlanted.com: Dă startul cumpărăturilor de plante!</h5>
            <h6>Plante Online cu plante de toate tipurile, pentru a satisface toate nevoile.</h6>
            <p>Ne mândrim cu livrarea rapidă și eficientă și o colecție impresionantă de plante de toate felurile.</p>
              
            <h6>Sfaturi despre creșterea plantelor de la experții GetPlanted.com</h6>
            <p>Experții noștri îți vor furniza toate resursele necesare pentru a asigura creșterea viguroasă și stabilă a plantelor tale! Contacteaza un expert sau vizitează secțiunea plant care!</p>

            <h6>Cele mai bune tehnici pentru livrarea plantelor</h6>
            <p>Cumpărarea și trimiterea plantelor este simplă cu getPlanted.com. 
            Cu livrare gratuită pentru comezi peste 200 RON, livrare standard a doua zi cu doar 15 RON și împchetarea cu grijă a plantelor în cutii speciale.
            </p>
        </div>
        <div class="copyright">
        <p>Drepturi de autor © 2020 getPlanted.ro </p> 
        </div>
    </div>
</div>
